body{
    background:#4a4b49a2;
    color: #ffffff;

}
.navbar{
    border-bottom: 3px solid rgb(81, 191, 211);
    background: rgb(77, 41, 124);
    opacity: 0.8;
}

#home-section{
    background: url(../img/map-3578213_960_720.jpg)no-repeat center top;
    background-size: cover;
    min-height: 700px;
    background-attachment: fixed;
}

#home-section .dark-overlay{
    background: rgba(0,0,0,0.7);
    min-height: 700px;

}

#home-section .home-inner{
    padding-top: 150px;
    padding-bottom: 50px;
}
#home-section .fas{
    background: #ffffff;
    color: forestgreen;
    padding: 4px;
    font-size: 30px;
    border-radius: 10px;
}
#explore-main-section .fas{
    background: #4a4b49a2;
    color:floralwhite;
    padding: 4px;
    font-size: 30px;
    border-radius: 10px;
}

#location-main-section .fas{
    background: #058da5;
    color:floralwhite;
    padding: 4px;
    font-size: 30px;
    border-radius: 10px;
}
#abroad-main-section .fas{
    background: #0ba83a;
    color:floralwhite;
    padding: 4px;
    font-size: 30px;
    border-radius: 10px;
}
#before-main-section .fas{
    background: #058da5;
    color:floralwhite;
    padding: 4px;
    font-size: 30px;
    border-radius: 10px;
}